window {
    margin: 0px;
    border: 2px solid #61afef;
    border-radius: 15px;
    background-color: #282c34;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

#input {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #abb2bf;
    background-color: #1e222a;
}

#input:focus {
    border: none;
    box-shadow: none;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #abb2bf;
}

#entry {
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
}

#entry:selected {
    background-color: rgba(97, 175, 239, 0.2);
    border: none;
}

#entry:selected #text {
    color: #61afef;
}

#img {
    margin-right: 10px;
}
